/* Color Variables */
$bodyCopy: #666D70;
$veryLightGrey: #D9D9D9;
$darkCyan: #00778e;
$themePrimary: #004F5E;
$anchorLink: #008299;
$softBlue: #4c72f7;
$softMagenta: #c982db;

$darkBlue: #064264;

$red: #FF3317;
$green: #5CB85C;
$darkGreen: #008752;
$darkGrey:#838282;
$copyGrey:#343434;
$darkYellow: #B26900;
$black: #000000;
$white: #ffffff;
$grey: #4D4D4F;

$lightGray: #f5f5f5;
$black: #000000;
$white:#ffffff;
$blue: #3E88C8;
$red: #D73126;
$blueSecondary: #253A71;
$buttonBG: #D7D2FF;
$buttonText: #5B52A3;
$buttonBG1: linear-gradient(0deg, #F9DBE2 0%, #F9DBE2 100%), #FFF;
$buttonText1: #7F3040;

/* Font Family Variables */
$rootFontFamily: "Inter", sans-serif;
$italicFontFamily: "Inter Tight", sans-serif;

$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontSize7: 7px;
$fontSize8: 8px;
$fontSize9: 9px;
$fontSize11: 11px;
$fontSize12: 12px;
$fontSize13: 13px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize17: 17px;
$fontSize18: 18px;
$fontSize19: 19px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize25: 25px;
$fontSize26: 26px;
$fontSize28: 28px;
$fontSize30: 30px;
$fontSize32: 32px;

$lineHeight9: 9px;
$lineHeight12: 12px;
$lineHeight13: 13px;
$lineHeight14: 14px;
$lineHeight16: 16px;
$lineHeight17: 17px;
$lineHeight20: 20px;
$lineHeight24: 24px;
$lineHeight28: 28px;
$lineHeight125: 125%;
$lineHeight130: 130%;
$lineHeight135: 135%;
$lineHeight140: 140%;