html{
  height: 100%;
}

body {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
}

.bannerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
}

.banner__frame {
  width: 728px;
  height: 90px;
  animation-delay: 0s;
  opacity: 1;
  animation: none;
  border:none;

  &--top {
    height: 100%;
  }

  &--three {
    text-align: center;
  }

  img{
    height: 90px;
    width: 100%;
  }
}
